.about {
  @apply bg-about-bg bg-cover bg-fixed;
}

.about__container {
  @apply inner-container;
}

.about__content {
  @apply flex flex-col gap-[15px] md:grid md:gap-[65px];
}

.about .section-title {
  @apply leading-none md:flex-nowrap;
}

.about__group {
  @apply flex flex-col w-[100%] gap-[20px] md:w-[220px] md:col-start-2 md:row-span-2;
}

.about__para {
  @apply text-[14px] leading-[1.4] font-[200] [&>span]:font-[400]
    md:text-[16px] md:leading-[1.25] lg:text-[18px] lg:leading-[1.33];
}

.about__tagline {
  @apply flex flex-col 
    w-[180px] text-[14px] leading-[1.4] uppercase
    max-md:ml-auto max-md:mt-[30px] [&>span:nth-of-type(2)]:ml-auto;
  @screen md {
    @apply w-[230px] text-[16px] leading-[1.25] mt-auto;
  }
  @screen lg {
    @apply w-[250px] text-[18px] leading-[1.33] col-start-3 row-start-2;
  }
}

.about__tagline > span:last-of-type {
  @apply lowercase font-[200] tracking-[-0.2px] md:tracking-[0.7px] whitespace-nowrap;
}

.about__para--our-methods {
  @apply md:w-[463px] md:ml-auto lg:ml-auto lg:row-start-2 lg:col-end-2 lg:mt-auto
    md:col-start-1 md:col-end-3 max-md:mt-[30px];
}
