.contacts {
  @apply bg-contacts-bg page-bg;
}

.contacts__container {
  @apply inner-container;
}

.contact-item {
  @apply flex gap-[19px] text-[14px] text-inherit leading-[1.7] text-right
      md:text-[16px] md:leading-[1.5] md:mr-auto 
      lg:text-[18px] lg:leading-[1.33];
}

.contact-item__label {
  @apply w-[80px] text-[12px] font-[200] leading-[1.66] text-left lg:leading-[2];
}

.contact-item__value {
  @apply flex flex-1 flex-col md:w-[221px];
}

.contacts__wrapper {
  @apply max-lg:block flex gap-[230px] mt-[50px] lg:mt-[70px];
}

.contacts__info {
  @apply flex flex-col flex-1 gap-[30px] mb-[20px] md:mb-[60px]
      md:flex-row md:gap-x-[90px] lg:flex-col lg:flex-grow-0 lg:gap-[120px];
}

.contacts__group {
  @apply flex flex-col gap-[30px] lg:gap-[64px];
}

.contacts__follow-us {
  @apply md:mr-auto md:[&>span]:min-w-max md:[&>span]:flex-grow-0;
  @screen lg {
    @apply [&>span]:order-1 [&>span]:text-right [&>span]:flex-1 
      [&>ul]:order-2 [&>ul]:items-start [&>ul]:flex-grow-0 [&>ul]:basis-[80px];
  }
}
