@layer components {
  .about {
    @apply bg-about-bg bg-cover bg-fixed;
  }

  .about__content {
    @apply flex flex-col gap-[10px] md:grid md:gap-[76px];
  }

  .about .page-title {
    @apply leading-none;
  }

  .about__group {
    @apply flex flex-col w-[100%] gap-[20px] md:w-[220px] md:col-start-2 md:row-span-2;
  }

  .about__para {
    @apply first-line:text-[14px] leading-[1.4] font-[200] [&>span]:font-[400];
  }

  .about__tagline {
    @apply flex flex-col w-[180px] text-[14px] leading-[1.4] uppercase
      [&>span]:flex [&>span:nth-of-type(2)]:ml-auto
       md:mt-auto md:mr-auto lg:col-start-3 lg:row-start-2
       max-md:mt-[30px];
  }

  .about__para.we-use {
    @apply md:w-[463px] md:ml-auto lg:ml-auto lg:row-start-2 lg:col-end-2 lg:mt-auto
    md:col-start-1 md:col-end-3 max-md:mt-[30px];
  }

  .about__tagline > span:last-of-type {
    @apply lowercase font-[200] tracking-[-0.14px] whitespace-nowrap;
  }
}
