@layer components {
  .inner-container {
    @apply w-[100%] max-w-[1280px] max-md:px-[20px]
      px-[30px] py-[70px] pb-[60px] 
      md:py-[80px] md:pb-[70px]
      lg:py-[120px] lg:pb-[100px]
      my-0 mx-auto relative;
  }

  .cornered {
    background: linear-gradient(to right, white 1px, transparent 1px) 0 0,
      linear-gradient(to right, white 1px, transparent 1px) 0 100%,
      linear-gradient(to left, white 1px, transparent 1px) 100% 0,
      linear-gradient(to left, white 1px, transparent 1px) 100% 100%,
      linear-gradient(to bottom, white 1px, transparent 1px) 0 0,
      linear-gradient(to bottom, white 1px, transparent 1px) 100% 0,
      linear-gradient(to top, white 1px, transparent 1px) 0 100%,
      linear-gradient(to top, white 1px, transparent 1px) 100% 100%;

    background-repeat: no-repeat;
    background-size: 2rem 0.5rem;
  }

  .transition-base {
    @apply transition-colors hover:text-white-50 focus-visible:text-white-50;
  }

  .button-base {
    @apply flex justify-center items-center p-0 transition-base;
  }

  .button-primary {
    @apply button-base w-[100%] flex-grow-0 cornered py-[16px] uppercase cursor-pointer 
      text-white bg-button text-[18px] font-[700] font-[inherit] leading-[1] lg:text-[32px];
  }

  .button-primary:hover,
  .button-primary:focus-visible {
    @apply bg-buttonHover text-white;
  }

  .page-bg {
    @apply bg-cover bg-center bg-fixed;
  }

  .page-title {
    @apply flex flex-col h-max ml-auto text-[37px] font-thin
        tracking-[1.66px] uppercase leading-none
        md:row-start-1 md:col-start-2
        md:text-[67px] md:tracking-[8.71px] md:w-[230px]
        lg:text-[98px] lg:tracking-normal lg:w-[305px];
  }

  .page-title__accent {
    @apply font-medium;
  }

  .page-title__subtitle {
    @apply text-[12px] font-light tracking-[9.48px]
      md:text-[14px] md:tracking-[25.9px]
      lg:text-[16px] lg:tracking-[36.48px];
  }

  .section-title {
    @apply flex flex-wrap text-[40px] font-thin leading-[1.3] tracking-[-1.6px] uppercase
      md:text-[67px] md:tracking-[-2.68px] md:leading-[1.2] 
      lg:text-[98px] lg:tracking-[-3.92px];
  }

  .section-title__accent {
    @apply font-medium;
  }

  .close-btn,
  .menu-btn {
    @apply button-base;
  }

  .link-base {
    @apply relative inline-flex flex-wrap items-center justify-center h-max w-max;
  }

  .link-base::after {
    @apply content-[''] absolute bottom-[3px] left-0 w-[100%] h-[1px] 
      bg-white scale-0 hover:scale-100 focus-visible:scale-100 
        transition-transform duration-150;
  }

  .logo {
    @apply transition-opacity hover:opacity-50 focus-visible:opacity-50;
  }

  .nav-menu {
    @apply flex h-[100%] items-center justify-center;
  }

  .nav-menu__btn {
    @apply button-base text-[14px] capitalize tracking-[1.4px] py-[34px];
  }
}
