@layer components {
  .contacts {
    @apply bg-contacts-bg page-bg;
  }

  .contacts-item {
    @apply flex gap-[19px] text-[14px] text-inherit leading-[1.7] text-right
      md:text-[16px] md:leading-[1.5] md:mr-auto 
      lg:text-[18px] lg:leading-[1.33];
  }

  .contacts-item__label {
    @apply w-[80px] text-[12px] font-[200] leading-[1.66] text-left lg:leading-[2];
  }

  .contacts__wrapper {
    @apply max-lg:block flex gap-[230px] mt-[50px] lg:mt-[70px];
  }

  .contacts__info {
    @apply flex flex-col flex-1 gap-[30px] mb-[20px] md:mb-[60px]
      md:flex-row md:gap-x-[90px] lg:flex-col lg:flex-grow-0 lg:gap-[120px];
  }

  .contacts__group {
    @apply flex flex-col gap-[30px] lg:gap-[64px];
  }

  .contacts-item__value {
    @apply flex flex-1 flex-col md:w-[221px];
  }

  .follow-us-swap {
    @apply [&>span]:order-1 [&>span]:text-right [&>span]:flex-1 
      [&>ul]:order-2 [&>ul]:items-start [&>ul]:flex-grow-0 [&>ul]:basis-[80px];
  }

  .contacts__follow-us {
    @apply max-lg:follow-us-swap 
      md:mr-auto md:[&>span]:min-w-max md:[&>span]:flex-grow-0;
  }

  .contacts__feedback {
    @apply flex flex-col gap-[16px] /* mt-[20px]  */
      md:flex-row md:flex-wrap md:gap-[20px] /* md:mt-[60px] lg:mt-0 */;
  }

  .feedback__field {
    @apply relative flex flex-col gap-[5px] text-inherit 
      text-[12px] font-[200] leading-[2] tracking-[2.4px];
  }

  .feedback__input {
    @apply h-[24px] p-[8px] bg-button text-inherit outline-none
      text-[13px] font-[200] leading-[1.85] [&::placeholder]:opacity-40
      lg:h-[28px] lg:text-[20px] lg:leading-[1.2] 
      focus-visible:bg-white-10;
  }

  .feedback__input--invalid {
    @apply text-failed border border-failed;
  }

  .feedback__input-error {
    @apply flex items-center justify-end gap-[5px] leading-none
      text-failed [&>span]:cursor-pointer [&>span]:text-[26px] [&>span]:font-[100];
  }

  .feedback__message {
    @apply feedback__input min-h-[190px] resize-y p-[10px]
      /* md:w-[460px]  */md:h-[220px];
  }

  .feedback__field-group {
    @apply flex flex-col gap-[16px] md:gap-[7px] 
      lg:flex-row lg:gap-[20px] lg:w-[100%] lg:[&>label]:flex-1;
  }

  .feedback__submit {
    @apply ml-auto text-[30px] font-[500] uppercase [&>input]:hidden cursor-pointer;
  }

  .feedback__group {
    @apply flex flex-col flex-grow gap-[10px] lg:gap-[20px];
  }
}
