.feedback {
  @apply flex flex-col gap-[25px] md:flex-row md:flex-wrap md:gap-[20px] lg:gap-[40px];
}

.feedback__field {
  @apply relative h-max flex flex-col gap-[5px] text-inherit 
      text-[12px] font-[200] leading-[2] tracking-[2.4px];
}

.feedback__input {
  @apply h-[24px] p-[8px] bg-button text-inherit 
      outline-none border border-transparent
      text-[13px] font-[200] leading-[1.85] [&::placeholder]:opacity-40
      lg:h-[28px] lg:text-[20px] lg:leading-[1.2]
      transition-colors;
}

.feedback__input:focus-visible {
  @apply bg-white-10 border-white-20;
}

.feedback__input--invalid {
  @apply text-failed border border-failed focus-visible:border-failed;
}

.feedback__input-error {
  @apply absolute right-0 bottom-[-25px] flex items-center 
      justify-end gap-[5px] leading-none text-failed;
}

textarea + .feedback__input-error {
  @apply left-0 right-auto;
}

.feedback__input-error-clear {
  @apply button-base transition-transform;
}

.feedback__input-error-clear:hover,
.feedback__input-error-clear:focus-visible {
  @apply scale-125 text-failed;
}

textarea.feedback__input {
  @apply min-h-[190px] resize-y p-[10px] md:min-h-[220px];
}

.feedback__field-group {
  @apply flex flex-col gap-[25px] md:gap-[28px] 
      lg:flex-row lg:gap-[20px] lg:w-[100%] lg:[&>label]:flex-1;
}

.feedback__submit {
  @apply button-base ml-auto text-[30px] font-[500] uppercase 
      hover:text-white-50 focus-visible:text-white-50;
}

.feedback__group {
  @apply flex flex-col flex-grow gap-[10px] lg:gap-[20px];
}
