@layer components {
  .tagline {
    @apply text-[12px] font-[200] leading-[2] tracking-[2.4px] 
      max-md:mt-[-20px] max-md:ml-auto md:order-2 whitespace-nowrap;
  }
}

.services {
  @apply page-bg;
}

.services__container {
  @apply inner-container;
}

.services__content {
  @apply grid h-[100%] w-[100%] gap-y-[34px] gap-x-[20px]
      md:grid-cols-[463px_1fr] lg:grid-cols-[607px_1fr];
}

.services__swiper {
  @apply w-[85vw] h-auto md:w-[463px] md:h-[370px] 
      lg:w-[607px] lg:h-[429px] mr-auto;
}

.services__swiper-slide {
  @apply w-[65vw] h-auto;
}

.services__swiper-img {
  @apply w-[100%] h-[100%] object-cover;
}

.services__counter {
  @apply text-buttonHover text-[43px] font-[100] leading-[1.2] 
    max-md:ml-auto md:text-[67px] lg:text-[98px] lg:leading-normal
      [&>span]:text-white;
}

.services__desc {
  --desc-first-col-width: 270px;
  @apply flex flex-col gap-[34px]
      lg:grid lg:grid-cols-[var(--desc-first-col-width)_1fr] lg:gap-[60px];
}

.services__tagline {
  @apply tagline lg:hidden;
}

.services__menu {
  @apply flex flex-col gap-[16px] w-[100%]
      text-[20px] font-[200] leading-[0.85]
      md:order-1 md:text-[22px] lg:text-[28px] col-span-2;
}

.services__menu-item {
  @apply flex items-center w-[100%];
}

.services__menu-item div[data-content] {
  @apply flex items-start gap-[60px] w-[100%];
}

.services__menu-item span[data-name] {
  @apply flex items-center uppercase cursor-pointer lg:w-[var(--desc-first-col-width)];
}

.services__menu-item--current span[data-name] {
  @apply font-bold 
    before:content-['\0025C6\0000a0\0000a0'] before:text-[20px];
}

.services__menu-item span[data-tagline] {
  @apply tagline hidden leading-none;
}

.services__menu-item--current span[data-tagline] {
  @apply lg:inline;
}

.services__about {
  @apply text-[14px] font-[200] leading-[1.43] text-justify hyphens-auto 
      md:min-w-[220px] lg:w-[293px] md:order-3 row-start-2 col-start-2
       md:text-[16px] md:leading-[1.25] lg:text-[18px] lg:leading-[1.33];
}
